*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: rgb(40, 47, 63);
    color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 3rem;
}

button{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

:focus{
    outline: 0; 
    -webkit-box-shadow: 0px 0px 7px 4px #1d8cf5; 
    box-shadow: 0px 0px 7px 4px #1d8cf5;
}

#accordian-widget{
    border: 1px solid #dddddd;
    border-radius: 5px;
    max-width: 22rem;
    width: 100%;
    margin: 1rem;
    
}

.accordian-group .accordian-button{
    width: 100%;
    border-bottom: 1px solid #ffffff;

}

.accordian-group .accordian-content{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
   

}
